[alias]
    st = status -sb
    s = st
    # sw = switch
    sw = "!f() { if [ $# -eq 0 ]; then git br-nocolor | sed '/\\*/d' | fzf --ansi --tac | awk '{print $NF}' | xargs git switch; else git switch \"$@\"; fi; }; f"
    di = diff
    d = di
    aa = add --all
    # co = checkout
    co = "!f() { if [ $# -eq 0 ]; then git br-nocolor | sed '/\\*/d' | fzf --ansi --tac | awk '{print $NF}' | xargs git checkout; else git checkout \"$@\"; fi; }; f"
    cb = checkout -b
    cm = commit -v
    br = branch
    b = br
    # br = branch
    br = branch --sort=committerdate --format='%(align:16,left)%(committerdate:relative)%(end) %(if)%(HEAD)%(then)%(color:green)* %(color:green)%(else)%(if)%(worktreepath)%(then)%(color:cyan)+ %(color:cyan)%(else)  %(end)%(end)%(refname:short)%(color:reset)' --color=always
    bd = branch --delete --force
    unstage = reset HEAD --
    last = log -1 HEAD
    br-nocolor = branch --sort=committerdate --format='%(align:16,left)%(committerdate:relative)%(end) %(if)%(HEAD)%(then)* %(else)%(if)%(worktreepath)%(then)+ %(else)  %(end)%(end)%(refname:short)' --no-color
[init]
    defaultBranch = main
